
@charset "utf-8";
/* CSS Document */

@font-face{
  font-family: myFont;
  src: url('../fonts/MyriadPro-Regular.otf');
	}
	


body{
	font-family:myFont;
	margin-top:10px;
}


*{
	margin:0;
	padding:0;
}


#main-body{
	width: 899px;
	height: 591px;	
	-webkit-box-shadow: 1px 1px 3px 2px rgba(170,170,170,1);
	-moz-box-shadow: 1px 1px 3px 2px rgba(170,170,170,1);
	box-shadow: 1px 1px 3px 2px rgba(170,170,170,1);	
	background-image: url(../images/main_bg.png);
	background-repeat:no-repeat;
	border-radius:7px;
}

#main-body2{
	width: 820px;
	/*background-color:#001f3c;
	position:absolute;*/
	margin-top:10px;
	margin-left:10px;
	
}

table{
	font-size:14px;
}

#header{
	width: 873px;
	height: 99px;
	background-image: url(../images/header_img.png);
	background-repeat:no-repeat;
	position:absolute;
	margin-left:4px;
	top:3px;
}

#slide-Loader{
	position:absolute;
	margin-left:4px;
	top:102px;
	z-index:10;
}

#footer{
	height:50px;
	width:871px;
	background-color:#cccccc;
	position:absolute;
	bottom:3px;
	margin-left:4px;
}



#footer-Logo{
	width:161px;
	height:40px;
	background-image: url(../images/footer_logo.png);	
	float:left;
	margin-left:23px;
	margin-top:7px;
}


#coursetitle
{
	
	font-size:17px;
	font-weight:bold;
	color:#000000;
	padding-left:48px;
}
#pagetitle
{

	font-size:17px;
	font-weight:normal;
	color:#000000;
	padding-right:50px;
}
.innerpagetopmargin
{
	line-height:5px;
}
#contentarea p
{
	margin-bottom:10px;
	font-size:14px;
}
#contentarea li
{
	font-size:14px;
}
#contentarea a img{ border:0; }

.custombullets li{
	list-style-position:inherit;
	text-indent:5px;
	vertical-align:middle;
	list-style-image:url(../images/tick.png);	
	height:20px;			
}
.anchorbutton200
{

	font-size:18px;
	width:200px;
	height:45px;
	display:block;
	background-image:url(../images/button-200.png);
	background-repeat:no-repeat;
	color:#FFFFFF;
	vertical-align:middle;
	line-height:45px;
	text-decoration:none;
}
#contentarea .pmargin{
	margin-bottom:25px;
}
ul {
	margin-bottom: 24px;
	padding-left: 30px;
}
.heading
{
	font-weight:bold;
	color:#000836;
	font-size:24px;
}
.floatingimage
{
	float:right;
	margin-left:20px;
	margin-bottom:20px;
}
.tabs {
	height: 100%;
	overflow: hidden;
	position: relative;
	display: block;
	margin-top:0px;
}
.tabs section {
	float: left;
	width:30%;
}
.tabs section h3 {
	border-radius:3px;
	-moz-border-radius: 3px 3px 3px 3px;
	cursor: hand;
	font-style:normal;
	height:38px;
	line-height:38px;
	font-size:17px;
	font-weight:bold;
	background:#00284D;
	padding:1px 12px 0 15px;
	color:rgba(255,255,255,1);
	text-shadow:0 1px 1px rgba(255,255,255,0.37);
	border:1px solid #2a3f56;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	cursor:pointer;
	-moz-background-clip:padding-box;
	-webkit-background-clip:padding-box;
	background-clip:padding-box;
	box-shadow: 0pt -1px 0pt rgba(0, 0, 0, 0.3) inset;
	white-space:nowrap;
	text-decoration:none;
	cursor:pointer;
	text-align:center;
	margin-right:20px;
}
.tabs section.current h3 {
	background: #1F6AB8;
	padding: 3px 10px;
	border-radius:3px;
	-moz-border-radius: 3px 3px 3px 3px;
	cursor: hand;
	font-style:normal;
	height:38px;
	line-height:38px;
	font-size:17px;
	font-weight:bold;
	padding:1px 12px 0 15px;
	color:rgba(255,255,255,1);
	text-shadow:0 1px 1px rgba(255,255,255,0.37);
	border:1px solid #2a3f56;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	-moz-background-clip:padding-box;
	-webkit-background-clip:padding-box;
	background-clip:padding-box;
	box-shadow: 0pt -1px 0pt rgba(0, 0, 0, 0.3) inset;
	white-space:nowrap;
	text-decoration:none;
	cursor: default;
	text-align:center;
}

.tabs section .clickOnImages{
	border:none;
	background:none;
	text-shadow:none;
	box-shadow:none;
	padding:0px;
	width:80px;
	height:100px;
	margin:0px;
	outline:none;
}

.tabs section.current .clickOnImages{
	border:none;
	background:none;
	text-shadow:none;
	box-shadow:none;
	padding:0px;
	width:80px;
	height:100px;
	margin:0px;	
}

.tabs section.current .clickOnImages img{
	outline:solid;
	outline-color:#acd0d6;
	outline-width:3px;
}

.tabs section div {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	padding: 0px;
	text-align:left;
	margin-top:10px;
		
}

.tabs section.current div {
	display: block;
}
a{
	text-decoration:none;
	color:#0000FF;
}
